*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
  }
  body{
    background-color:azure;
  }
  .card{
    
   max-width:550px;
    background:linear-gradient(135deg,red,blue);
    color:blueviolet;
    margin:100px auto 0;
    border-radius:20px;
    padding:30px;
    text-align:center;
  }
  .search{
    width:150px;
    display:flex;
    align-items:center;
    justify-content:space-between;
    
  }
  .search input{
    background-color:bisque;
    padding:10px 25px;
    height:60px;
    border-radius:30px;
    
    margin-right:5px;
    font-size:18px;
  }
  .search button{
    background-color:aquamarine;
    border-radius:40px;
    width:150px;
    height:60px;
    cursor:pointer;
    
  }
  .search img{
    width:80px;
  }
  .weather-icon{
    width:170px;
    margin-top:30px;
  }
  .weather h1{
    font-size:80px;
  
  }
  .weather h2{
    font-size:80px;
    
  }
  .details{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:0 20px;
    margin-top:50px;
   
  }
  .col{
    display:flex;
    align-items:center;
    text-align:left;
    background-color:lightblue;
    font-size:20px;
  }
  .col img{
    width:100px;
    margin-right:10px;
  }
  .humidity,.Wind{
    font-size:30px;
    margin-top:10px;
    
  }
  .weather{
    display:none;
  }
  .error{
    text-align:left;
    margin-left:10px;
    text-align:left;
    font-size:80px;
    display:none;
    
  }